<?xml version="1.0"?>
<!--
/**
 * Easytransac_Gateway payment method.
 *
 * @category    Easytransac
 * @package     Easytransac_Gateway
 * @author      Easytrasac
 * @copyright   Easytransac (https://www.easytransac.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="general" translate="label" type="text" sortOrder="50" showInDefault="1"
                   showInWebsite="1" showInStore="1">
                <label>EasyTransac</label>
                <!-- General Configuration Start -->
                <comment>
                    <![CDATA[<a href="https://www.easytransac.com/en/signin" target="_blank">Click here to sign up for an EasyTransac account</a>
                    <br/>
                    <a href="https://www.easytransac.com/en/login" target="_blank">Click here to log in to your EasyTransac dashboard</a>]]>
                </comment>
                <field id="api_key" translate="label" type="obscure" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Api Key</label>
                    <config_path>payment/general/api_key</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>
                        <![CDATA[Your Easytransac application API key is available in your back office, by editing <a href="https://www.easytransac.com/dashboard/application/all" target="_blank">your application</a>]]>
                    </comment>
                </field>
                <field id="notification_url" translate="label" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Notification URL</label>
                    <frontend_model>Easytransac\Gateway\Block\Adminhtml\System\Config\Form\NotificationUrl</frontend_model>
                    <comment>
                        <![CDATA[Enter this notification URL when editing <a href="https://www.easytransac.com/dashboard/application/all" target="_blank">your application</a> ]]>
                    </comment>
                </field>
                <field id="debug" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/general/debug</config_path>
                    <comment>
                        <![CDATA[Save the transaction log for debugging purpose.]]>
                    </comment>
                </field>
                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="4" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment from Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                    <config_path>payment/general/allowspecific</config_path>
                </field>
                <field id="specificcountry" translate="label" type="multiselect" sortOrder="5" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Payment from Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="allowspecific">1</field>
                    </depends>
                    <config_path>payment/general/specificcountry</config_path>
                </field>
                <field id="display_icon" translate="label" type="select" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Display Easytransac Icon at Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>payment/general/display_icon</config_path>
                </field>
                <!-- General Configuration End -->

                <!-- Credit Card Payment Configuration Start -->
                <group id="card_gateway" translate="label" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Credit Card Configuration</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/card_gateway/active</config_path>
                    </field>
                    <field id="save_card" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable OneClick for Card Payments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/card_gateway/save_card</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="40" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <validate>validate-number</validate>
                        <comment>Leave empty to disable limit</comment>
                        <config_path>payment/card_gateway/min_order_total</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/card_gateway/sort_order</config_path>
                    </field>
                </group>
                <!-- Credit Card Payment Configuration End -->

                <!-- Installment Configuration Start -->
                <group id="easytransac_multipayment" translate="label" type="text" sortOrder="30" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Installment Configuration</label>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/easytransac_multipayment/active</config_path>
                    </field>
                    <field id="save_card" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Enable OneClick for Multi Installments Payments</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/easytransac_multipayment/save_card</config_path>
                    </field>
                    <field id="monthly_emi" translate="label" type="select" sortOrder="12" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Available MultiPayment Installments</label>
                        <source_model>Easytransac\Gateway\Model\Config\MultiPaymentsPlans</source_model>
                        <config_path>payment/easytransac_multipayment/monthly_emi</config_path>
                    </field>
                    <field id="min_order_total" translate="label" type="text" sortOrder="40" showInDefault="1"
                           showInWebsite="1" showInStore="1">
                        <label>Minimum Order Total</label>
                        <validate>validate-number</validate>
                        <comment>MultiplePayments must be a minimum of 50 Euros</comment>
                        <config_path>payment/easytransac_multipayment/min_order_total</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1"
                           showInStore="1">
                        <label>Sort Order</label>
                        <validate>validate-number</validate>
                        <config_path>payment/easytransac_multipayment/sort_order</config_path>
                    </field>
                </group>
                <!-- Installment Configuration End -->
            </group>
        </section>
    </system>
</config>
